[flake8]
ignore = E501,I100,I101,I201,I202
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    src/pybel_web/cli.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 10
import-order-style = pycharm
application-import-names =
    pybel_web
    pybel_tools
    pybel
    bio2bel
    tests
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
