# Utilities
requests
click
tqdm
easy-config
dataclasses-json
ols_client
networkx>=2.1
# Scientific Python Stack
pandas
scikit-learn
numpy
# Backend
sqlalchemy
celery[redis]
psycopg2-binary
# Web server
flask>=1.0.0
flask-bootstrap
flask-wtf
flask-security
flask-admin
flask-sqlalchemy
email_validator
werkzeug
jsonschema
flasgger
raven
gunicorn
