{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Pipeline Help{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pipeline Help</h3>
            </div>
            <div class="list-group">
                {% for fname, f in function_dict|sort %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ fname }}</h4>
                        <p class="list-group-item-text">{{ f }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
