{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Compare Queries{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Query Comparison</h3>
            </div>
            <div class="panel-body">
                {% for entry in ['nodes', 'edges', 'citations', 'annotations'] %}
                    <h3>{{ entry|capitalize }}</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            <a href="{{ url_for('ui.view_explorer_query', query_id=query_1_id) }}">Query {{ query_1_id }}</a>
                        </dt>
                        <dd>{{ data[entry][0] }}</dd>
                        <dt>Overlap</dt>
                        <dd>{{ data[entry][1] }}</dd>
                        <dt>
                            <a href="{{ url_for('ui.view_explorer_query', query_id=query_2_id) }}">Query {{ query_2_id }}</a>
                        </dt>
                        <dd>{{ data[entry][2] }}</dd>
                    </dl>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
