{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% import "macros.html" as pbw %}

{% block title %}Citation{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <ol class="breadcrumb">
            <li><a href="{{ url_for('ui.home') }}">Catalog</a></li>
            <li><a href="{{ url_for('ui.view_citations') }}">Citations</a></li>
            <li class="active">{{ citation }}</li>
        </ol>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if citation.title %}
                        {{ citation.title }}
                    {% else %}
                        {{ citation.db.lower() }}:{{ citation.db_id }}
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Reference</dt>
                    <dd>
                        {% if citation.db.lower() in ['pubmed', 'doi', 'pmc'] %}
                            <a href="https://identifiers.org/{{ citation.db.lower() }}:{{ citation.db_id }}"
                               target="_blank">{{ citation.db.lower() }}:{{ citation.db_id }}</a>
                        {% elif citation.db.lower() == 'pubmed central' %}
                            <a href="https://identifiers.org/pmc:{{ citation.db_id }}"
                               target="_blank">pmc:{{ citation.db_id }}</a>
                        {% else %}
                            {{ citation.db }}:{{ citation.db_id }}
                        {% endif %}
                    </dd>
                    {% if citation.journal %}
                        <dt>Journal</dt>
                        <dd><i>{{ citation.journal }}</i></dd>
                    {% endif %}
                    {% if citation.volume %}
                        <dt>Volume</dt>
                        <dd>{{ citation.volume }}</dd>
                    {% endif %}
                    {% if citation.issue %}
                        <dt>Issue</dt>
                        <dd>{{ citation.issue }}</dd>
                    {% endif %}
                    {% if citation.pages %}
                        <dt>Pages</dt>
                        <dd>{{ citation.pages }}</dd>
                    {% endif %}
                    {% if citation.date %}
                        <dt>Date</dt>
                        <dd>{{ citation.date }}</dd>
                    {% endif %}
                    {% if citation.authors %}
                        <dt>Authors</dt>
                        <dd>{{ citation.authors|join(', ') }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>

        {% for evidence in citation.evidences %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Evidence

                        <div class="pull-right">
                            <a href="{{ url_for('dbs.get_evidence_by_id', evidence_id=evidence.id) }}">JSON</a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>{{ evidence.text }}</p>
                </div>

                <div class="list-group">
                    {{ pbw.render_edge_list(evidence.edges,  show_evidence=False) }}
                </div>
            </div>
        {% endfor %}
    </div>

    {% include "footer.html" %}
{% endblock %}
