{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}500 Error{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px">

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="page-header">
                <h1>PyBEL Web Error Page</h1>
            </div>
            <div class="panel-body">
                <h3>Internal Server (500) Error</h3>
                <p>The server encountered a problem. Please contact the site administrator.</p>

                <!-- Sentry JS SDK 2.1.+ required -->
                <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>

                {% if event_id %}
                    <script>
                        Raven.showReportDialog({
                            eventId: '{{ event_id }}',
                            dsn: '{{ public_dsn }}'
                        });
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}

