{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}About{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var maxHeight = 0;
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").each(function (idx, item) {
            var height = $(item).height();
            maxHeight = maxHeight > height ? maxHeight : height;
        });
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").height(maxHeight);
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">About</h3>
            </div>
            <div class="panel-body">
                <p>PyBEL Web is developed and maintained by <a href="https://github.com/cthoyt">Charles Tapley Hoyt</a>
                    and
                    <a href="https://github.com/ddomingof">Daniel Domingo-Fernandez</a> at <a
                            href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">Fraunhofer
                        SCAI</a> with partial support from the <a href="https://www.imi.europa.eu/">IMI</a> projects, <a
                            href="http://www.aetionomy.eu/">AETIONOMY</a> and <a href="http://www.phago.eu/">PHAGO</a>.

                    It is built on top of the open source project, <a href="https://github.com/pybel/pybel">PyBEL</a>.
                    Please feel free to contact us
                    <a href="mailto:charles.hoyt@scai.fraunhofer.de">here</a> to give us feedback or report any issues.
                </p>
                <p>
                    If you use PyBEL Web, please cite us:
                </p>
                <ul>
                    <li>
                        Hoyt, <i>et al.</i>; <a href="https://doi.org/10.1093/bioinformatics/btx660">PyBEL: a
                        Computational Framework for Biological Expression Language</a>, Bioinformatics, btx660.
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Links and Cards</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h3>API</h3>
                        <p>
                            Our RESTful service is documented with the
                            <a href="https://www.openapis.org/">OpenAPI</a> specification. In the future, we
                            will also provide a <a href="http://graphql.org/learn/">GraphQL</a>
                            API using <a href="https://github.com/graphql-python/graphene">graphene</a>.
                        </p>
                        <p>
                            <a href="{{ url_for('flasgger.apidocs') }}" class="btn btn-primary">
                                Swagger UI
                            </a>
                            <a href="{{ url_for('flasgger.apispec_1') }}" class="btn btn-primary">
                                OpenAPI Spec
                            </a>
                        </p>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <h3>Cookbook</h3>
                        <p>
                            PyBEL Web is built on PyBEL and PyBEL Tools. We have created a repository of Jupyter
                            notebooks to demonstrate their programmatic capabilities.
                        </p>
                        <p>
                            <a href="https://github.com/pybel/pybel-notebooks" class="btn btn-primary">
                                PyBEL Notebooks
                            </a>
                        </p>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <h3>Legal</h3>
                        <p>
                            PyBEL Web is hosted in Germany, and has an imprint dictating disclaimers, etc.
                        </p>
                        <p>
                            <a href="{{ url_for('ui.view_imprint') }}" class="btn btn-primary">Imprint</a>
                        </p>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <h3>Artwork</h3>
                        <p>
                            The PyBEL logos are derivatives of <a
                                href="http://game-icons.net/lorc/originals/ringing-bell.html">Ringing bell</a>
                            by <a href="https://lorcblog.blogspot.com/">Lorc</a>, used under <a
                                href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>. The PyBEL
                            logos are licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY
                            3.0</a> by <a href="https://github.com/scolby33">Scott Colby</a>.</p>
                        <p>
                            <a href="https://github.com/pybel/pybel-art#usage-guidelines-and-information"
                               class="btn btn-primary">
                                Usage Guidelines
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Support</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                        <a href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/scai_logo.svg') }}"/>
                        </a>
                    </div>
                    <div>
                        This application was developed at the Fraunhofer SCAI Department of Bioinformatics.
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                        <a href="https://www.imi.europa.eu/">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/imi_logo.png') }}"/>
                        </a>
                    </div>
                    <div>
                        The IMI is an EU public-private partnership funding health research and innovation.
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                        <a href="http://www.aetionomy.eu/">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='img/aetionomy_logo.png') }}"/>
                        </a>
                    </div>
                    <div>
                        AETIONOMY is a project aimed to develop a mechanism-base taxonomy of Alzheimer's disease and
                        Parkinson's disease in order to support stratifying patients.
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                        <a href="http://www.phago.eu/">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/phago_logo.jpg') }}"/>
                        </a>
                    </div>
                    <div>
                        PhAGO is a project aimed to understand the relation between TREM2, CD33, and microglial
                        activation in the context of Alzheimer's disease.
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Application Metadata</h3>
            </div>
            <div class="list-group">
                {% for key, value in metadata %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ key }}</h4>
                        <p class="list-group-item-text">{{ value }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bio2BEL Managers</h3>
            </div>
            <div class="list-group">
                {% for name, m in managers.items() %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a href="https://github.com/bio2bel/{{ name[:-8] }}">{{ name[:-8] }}</a>
                        </h4>
                        <div class="list-group-item-text">
                            {% if m.summarize %}
                                <dl class="dl-horizontal">
                                    {% for k, v in m.summarize().items() %}
                                        <dt>{{ k }}</dt>
                                        <dd>{{ v }}</dd>
                                    {% endfor %}
                                </dl>
                            {% else %}
                                <p>Missing <i>summarize</i> function</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dependencies</h3>
            </div>
            <div class="panel-body row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <h3>Technologies</h3>
                    <ul>
                        <li><a href="https://www.mysql.com/">MySQL</a></li>
                        <li><a href="https://www.rabbitmq.com/">RabbitMQ</a></li>
                        <li><a href="https://uwsgi-docs.readthedocs.io/">uWSGI</a></li>
                        <li><a href="http://www.celeryproject.org/">Celery</a></li>
                        <li><a href="https://www.python.org/">Python 3</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <h3>Python Packages</h3>
                    <ul>
                        <li><a href="http://flask.pocoo.org/">Flask</a></li>
                        <li><a href="http://click.pocoo.org/">Click</a></li>
                        <li><a href="http://docs.python-requests.org/">Requests</a></li>
                        <li><a href="https://networkx.github.io/">NetworkX</a></li>
                        <li><a href="http://pandas.pydata.org/">Pandas</a></li>
                        <li><a href="https://www.sqlalchemy.org/">SQLAlchemy</a></li>
                        <li><a href="https://pybel.readthedocs.org/">PyBEL</a></li>
                        <li><a href="https://pybel-tools.readthedocs.org/">PyBEL Tools</a></li>
                        <li><a href="https://github.com/rochacbruno/flasgger">Flasgger</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <h3>Client</h3>
                    <ul>
                        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                        <li><a href="https://d3js.org/">D3.js</a></li>
                        <li><a href="https://jquery.com/">jQuery</a></li>
                        <li><a href="https://select2.github.io/">Select2</a></li>
                        <li><a href="https://github.com/helion3/inspire-tree">InspireTree</a></li>
                        <li><a href="https://github.com/patorjk/d3-context-menu">D3-context-menu</a></li>
                        <li><a href="https://github.com/minhur/bootstrap-toggle">Bootstrap Toggle</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
