{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Results{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Analyses</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Candidate Mechanism Perturbation Analyses</h3>
            </div>
            <div class="panel-body">
                <p>Analyses are listed here, in chronological order. Additional analyses can be run by navigating
                    to a network through the <a href="{{ url_for('view_networks') }}">network list</a>.</p>

                <p>As an example pipeline, we recommend using the data from GEO experiment <a
                        href="https://owncloud.scai.fraunhofer.de/index.php/s/1kbzCIhbfZLauuJ">GSE28146</a> with the
                    Alzheimer's Disease Knowledge Assembly.
                </p>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>EID</th>
                    <th>QID</th>
                    <th>Source Data</th>
                    <th>Description</th>
                    <th>Permutations</th>
                    <th>Created</th>
                    <th>Completed</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for experiment in experiments if experiment.query is not none %}
                    <tr>
                        <td>{{ experiment.id }} </td>
                        <td>{{ experiment.query.id }}</td>
                        <td>{{ experiment.source_name }}</td>
                        <td>{{ experiment.description }}</td>
                        <td>{{ experiment.permutations }}</td>
                        <td>{{ experiment.created }}</td>
                        <td>
                            {% if experiment.completed %}
                                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                            {% else %}
                                <span class="glyphicon glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if experiment.completed %}
                                <div class="pull-right">
                                    <a href="{{ url_for('dbs.download_analysis', analysis_id=experiment.id) }}"
                                       class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                    </a>
                                    <a href="{{ url_for('analysis.view_analysis_results', analysis_id=experiment.id) }}"
                                       class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
