{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}BEL Document Generator{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>BEL Document Generator</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-body">
                <p>This page can be used to make a BEL script that's pre-populated with the most common namespaces and
                    annotations. Optionally, a set of PubMed identifiers can be input to retrieve the abstract
                    and generate the corresponding <code>SET Citation</code> and <code>SET Evidence</code> statements.
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Input</h3>
            </div>
            <div class="panel-body">
                {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
