{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Definitions{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Definition Store</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        {% if current_user.is_admin %}
            <div class="panel panel-info" id="admin-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin
                        <button type="button" class="close" data-target="#admin-panel" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    <h4>Actions</h4>
                    <p>
                        <a class="btn btn-danger" href="{{ url_for('dbs.drop_namespaces') }}" role="button">Drop All
                            Namespaces</a>
                        <a class="btn btn-danger" href="{{ url_for('dbs.drop_annotations') }}" role="button">Drop All
                            Annotations</a>
                    </p>
                </div>
            </div>
        {% endif %}

        <a id="namespaces"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Namespaces</h3>
            </div>
            <div class="panel-body">
                <p>
                    BEL borrows some ideas from the semantic web that resources at a given location should be
                    persistent. However, the BEL namespace file format contains a flag to signify namespaces that
                    might change over time that is only very narrowly appropriate for custom terminologies as they are
                    under development. These namespaces are not cached and are not listed.
                </p>
                <p>
                    Public namespaces are distributed by Fraunhofer SCAI on the <a
                        href="arty.scai.fraunhofer.de/artifactory/bel/">Artifactory server</a>.
                </p>
            </div>
            <div class="list-group">
                {% for namespace in namespaces %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ namespace.name }}
                            <small class="text-muted">{{ namespace.version }}</small>
                            {% if current_user.is_admin %}
                                <a class="btn btn-danger pull-right"
                                   href="{{ url_for('dbs.drop_namespace_by_id', namespace_id=namespace.id) }}"
                                   role="button">Drop</a>
                            {% endif %}
                        </h4>
                        <div class="list-group-item-text">
                            <dl class="dl-horizontal">
                                <dt>Keyword</dt>
                                <dd>{{ namespace.keyword }}</dd>
                                <dt>URL</dt>
                                <dd><a href="{{ namespace.url }}">{{ namespace.url }}</a></dd>
                                {% if namespace.description is not none %}
                                    <dt>Description</dt>
                                    <dd>{{ namespace.description }}</dd>
                                {% endif %}
                                <dt>Uploaded</dt>
                                <dd>{{ namespace.uploaded }}</dd>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <a id="annotations"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Annotations</h3>
            </div>
            <div class="panel-body">
                <p>The list below enumerates the cached annotations.</p>
            </div>
            <div class="list-group">
                {% for annotation in annotations %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ annotation.name }}
                            <small class="text-muted">{{ annotation.version }}</small>
                            {% if current_user.is_admin %}
                                <a class="btn btn-danger pull-right"
                                   href="{{ url_for('dbs.drop_annotation_by_id', annotation_id=annotation.id) }}"
                                   role="button">Drop</a>
                            {% endif %}
                        </h4>
                        <div class="list-group-item-text">
                            <dl class="dl-horizontal">
                                <dt>Keyword</dt>
                                <dd>{{ annotation.keyword }}</dd>
                                <dt>URL</dt>
                                <dd><a href="{{ annotation.url }}">{{ annotation.url }}</a></dd>
                                {% if annotation.description is not none %}
                                    <dt>Description</dt>
                                    <dd>{{ annotation.description }}</dd>
                                {% endif %}
                                {% if annotation.usage is not none %}
                                    <dt>Usage</dt>
                                    <dd>{{ annotation.usage }}</dd>
                                {% endif %}
                                <dt>Uploaded</dt>
                                <dd>{{ annotation.uploaded }}</dd>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}


