{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Edge Catalog{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <a class="btn btn-danger btn-xs" href="{{ url_for('dbs.drop_edges', next=url_for('ui.home')) }}"
                       role="button" data-toggle="confirmation" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                       data-btn-ok-class="btn-success" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                       data-btn-cancel-class="btn-danger">
                        Drop All
                    </a>
                </div>
                <h3 class="panel-title">Edges</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for edges...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="list-group" id="edge-list">
                {% for edge in edges %}
                    {% include 'edge_macro.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
