<div class="list-group-item">
    <h4 class="list-group-item-heading">
        {{ edge.bel }}

        <div class="pull-right">
            <small class="text-muted">

                <a href="{{ url_for('ui.view_node', node_hash=edge.source.sha512) }}">Source</a> |
                <a href="{{ url_for('ui.view_node', node_hash=edge.target.sha512) }}">Target</a> |
                Hash: <a href="{{ url_for('ui.view_edge', edge_hash=edge.sha512) }}"><code>{{ edge.sha512[:10] }}</code></a>
            </small>
        </div>
    </h4>
    <div class="list-group-item-text">

        {% if edge.evidence %}
            <p>{{ edge.evidence.text }} <code>{{ edge.evidence.citation }}</code></p>
        {% endif %}

        <div class="row">
            {% set edge_networks = edge.networks.all() %}
            {% if edge_networks %}
                <div class="col-lg-6">
                    <h5>Appears in Networks:</h5>
                    <ul>
                        {% for network in edge_networks %}
                            <li>
                                <a href="{{ url_for('ui.view_summarize_statistics', network_id=network.id) }}">
                                    {{ network }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% set annotation_entries = edge.annotations.all() %}
            {% if annotation_entries %}
                <div class="col-lg-6">
                    <h5>Annotations</h5>
                    <dl class="dl-horizontal">
                        {% for annotation_entry in annotation_entries %}
                            <dt>{{ annotation_entry.annotation.name }}</dt>
                            <dd>{{ annotation_entry.name }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
        </div>
    </div>
</div>
