{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Edges{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <a class="btn btn-danger btn-xs" href="{{ url_for('dbs.drop_edges', next=url_for('ui.home')) }}"
                       role="button" data-toggle="confirmation" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                       data-btn-ok-class="btn-success" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                       data-btn-cancel-class="btn-danger">
                        Drop All
                    </a>
                </div>
                <h3 class="panel-title">Edges</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for edges...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="list-group" id="edge-list">
                {% for edge in edges %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {{ edge.bel }}
                        </h4>
                        <div class="list-group-item-text">
                            {% if edge.citation %}
                                <h4>Citation</h4>
                                <p>{{ edge.citation }}</p>
                            {% endif %}
                            <h4>Appears in Networks:</h4>
                            <ul>
                                {% for network in edge.networks %}
                                    <li>
                                        <a href="{{ url_for('ui.view_summarize_statistics', network_id=network.id) }}">
                                            {{ network }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <h4>Annotations</h4>
                            <dl class="dl-horizontal">
                                {% for annotation_entry in edge.annotations %}
                                    <dt>{{ annotation_entry.annotation.name }}</dt>
                                    <dd>{{ annotation_entry.name }}</dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
