<p>
    BEL Commons is developed and maintained by <a href="https://github.com/cthoyt">Charles Tapley Hoyt</a>
    and <a href="https://github.com/ddomingof">Daniel Domingo-Fernandez</a> at <a
        href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">Fraunhofer
    SCAI</a> with support from the <a href="https://www.imi.europa.eu/">IMI</a> projects, <a
        href="http://www.aetionomy.eu/">AETIONOMY</a> and <a href="http://www.phago.eu/">PHAGO</a>.

    It is built on top of the open source project, <a href="https://github.com/pybel/pybel">PyBEL</a>.
    Please feel free to contact us
    <a href="mailto:charles.hoyt@scai.fraunhofer.de">here</a> to give us feedback or report any issues.
</p>
