<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">About</h3>
        </div>
        <div class="panel-body">
            <p>PyBEL Web is developed and maintained by <a href="https://github.com/cthoyt">Charles Tapley Hoyt</a> and
                <a href="https://github.com/ddomingof">Daniel Domingo-Fernandez</a> at <a
                        href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">Fraunhofer
                    SCAI</a> with support from the <a href="https://www.imi.europa.eu/">IMI</a> projects, <a
                        href="http://www.aetionomy.eu/">AETIONOMY</a> and <a href="http://www.phago.eu/">PHAGO</a>.

                It is built on top of the open source project, <a href="https://github.com/pybel/pybel">PyBEL</a>,
                whose source code is versioned on <a href="https://github.com/pybel/pybel">GitHub</a>, distributed on
                <a href="https://pypi.python.org/pypi/pybel">PyPI</a>, and documented on <a
                        href="http://pybel.readthedocs.io/">Read the Docs</a>. Please feel free to contact us
                <a href="mailto:charles.hoyt@scai.fraunhofer.de">here</a> to give us feedback or report any issues.
            </p>
            <hr/>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <a href="https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics.html">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/scai_logo.svg') }}"/>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <a href="https://www.imi.europa.eu/">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/imi_logo.png') }}"/>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <a href="http://www.aetionomy.eu/">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/aetionomy_logo.png') }}"/>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
                    <a href="http://www.phago.eu/">
                        <img class="img-responsive"
                             src="{{ url_for('static', filename='img/phago_logo.jpg') }}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>