{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}How to Use PyBEL Web{% endblock %}

{% block content %}
    <div class="container">

        <div class="page-header">
            <h1>How to Use PyBEL Web</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Typical Workflow</h3>
            </div>
            <div class="panel-body">
                <h2>Step 1: Upload a BEL Document</h2>
                <p>Click "Parse BEL", Choose a File, then Click "Upload".</p>
                <h2>Step 2: Summarize a BEL Document</h2>
                <p>Click "List Networks" and find your network. Click "Summary".</p>
                <h2>Step 3: Build a Query</h2>
                <p>Choose the universe of BEL documents to start with, seed your network, and select
                    filters/mutators.</p>
                <h2>Step 4: Explore a Knowledge Assembly</h2>
                <p>From the query builder, click "View my Network" and begin to interact with the explorer.</p>
                <p>The explorer contains functions to build further queries.</p>
                <h2>Step 5: Analyze a Knowledge Assembly</h2>
                <p>Data sets like differential gene expression can be used to quantify the perturbation amplitude
                    of biological processes in a network using an randomized algorithm based on NPA. </p>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PyBEL Web Compiler</h3>
            </div>
            <div class="panel-body">


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PyBEL Web Query Builder</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PyBEL Web Explorer</h3>
            </div>
            <div class="panel-body">
                Example 1. Exploring by annotation, finding an interesting node and expand over its neighbors.
                <img src="{{ url_for('static', filename='img/gif/Explorer_example.gif') }}">

            </div>
        </div>
    </div>
{% endblock %}