{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}PyBEL Web{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if current_user.is_admin %}
        <script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
        <script>
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                // other options
            });
        </script>
    {% endif %}
    <script type="text/javascript">
        var maxHeight = 0;
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").each(function (idx, item) {
            var height = $(item).height();
            maxHeight = maxHeight > height ? maxHeight : height;
        });
        $(".panel-body").find(".row").find(".col-sm-6").find(".thumbnail").height(maxHeight);
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        {% if current_user.is_admin %}
            <div class="panel panel-info" id="admin-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin
                        <button type="button" class="close" data-target="#admin-panel" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    <a class="btn btn-info" href="{{ url_for('admin.index') }}" role="button">
                        Admin
                    </a>
                    <a class="btn btn-info" href="{{ url_for('view_overview') }}" role="button">
                        Overview
                    </a>
                    <a class="btn btn-info" href="{{ url_for('view_users') }}" role="button">
                        View Users
                    </a>
                    {% if HAS_BMS %}
                        <a class="btn btn-warning" href="{{ url_for('bms.git_pull', next=url_for('home')) }}"
                           role="button">
                            Pull BMS
                        </a>
                    {% endif %}
                    <a class="btn btn-warning" href="{{ url_for('dbs.drop_queries', next=url_for('home')) }}"
                       role="button">
                        Drop All Queries
                    </a>
                    <a class="btn btn-warning" href="{{ url_for('rollback', next=url_for('home')) }}" role="button"
                       data-toggle="confirmation" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                       data-btn-ok-class="btn-success" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                       data-btn-cancel-class="btn-danger">
                        Rollback
                    </a>
                    <a class="btn btn-danger" href="{{ url_for('nuke', next=url_for('home')) }}" role="button"
                       data-toggle="confirmation" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                       data-btn-ok-class="btn-success" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                       data-btn-cancel-class="btn-danger">
                        Nuke Database
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="jumbotron">
            <h1>PyBEL Web</h1>
            <p>An environment for <strong>curating</strong>, <strong>validating</strong>, and
                <strong>exploring</strong> knowledge assemblies encoded in Biological Expression Language (BEL) to
                support <strong>elucidating</strong> disease-specific, mechanistic insight.
            </p>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Upload</h3>
                                <p>
                                    Parse BEL script, validate its contents, perform automatic enrichment, and
                                    generate a network summary.
                                </p>
                                <p>
                                    <a href="{{ url_for('parser.view_parser') }}" class="btn btn-primary btn-block">
                                        Upload BEL
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption home-link">
                                <h3>Summarize</h3>
                                <p>
                                    View summaries and statistics over curated networks and as a first step towards
                                    exploration, visualization{% if current_user.is_beta_tester %}, and
                                    <a href="{{ url_for('analysis.view_analyses') }}">analysis</a>{% endif %}.
                                </p>
                                <a href="{{ url_for('view_networks') }}" class="btn btn-primary btn-block">
                                    View Network List
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Query</h3>
                                <p>Build a network by investigating the knowledge related to interesting biological
                                    entities, chemical matter, authors, or publications.</p>
                                <a href="{{ url_for('view_query_builder') }}"
                                   class="btn btn-primary btn-block" role="button">Build Query</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Curate</h3>
                                <p>
                                    Generate a template BEL script given a list of PubMed identifiers, merge
                                    multiple BEL namespace files, or give feedback on overlapping definitions in a
                                    given namespace.
                                </p>
                                <p>
                                    <a href="{{ url_for('curation.get_boilerplate') }}" class="btn btn-primary"
                                       role="button" data-toggle="tooltip" data-placement="top"
                                       title="Generate a template BEL script given an optional list of PubMed identifiers or Entrez Gene identifiers">
                                        Generate</a>
                                    <a href="{{ url_for('curation.merge_namespaces') }}" class="btn btn-primary"
                                       role="button" data-toggle="tooltip" data-placement="top"
                                       title="Merge multiple BEL Namespace (BELNS) files">
                                        Merge</a>
                                    <a href="{{ url_for('curation.validate_resource') }}" class="btn btn-primary"
                                       role="button" data-toggle="tooltip" data-placement="top"
                                       title="Validate a manually curated BEL Namespace or Annotation with the EBI Ontology Lookup Service">
                                        Validate</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Terminologies</h3>
                                <p>
                                    View the ontologies and terminologies used in the knowledge base as namespaces and
                                    annotations. Each contains provenance information including a uniform resource
                                    locator and version number.
                                </p>
                                <a href="{{ url_for('view_definitions') }}" class="btn btn-primary btn-block"
                                   role="button">View
                                    View Terminology List</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Future Work</h3>
                                <p>PyBEL is in constant development. Join us on the <a
                                        href="https://github.com/pybel/pybel">core</a>, <a
                                        href="https://github.com/pybel/pybel-tools">analytical tools</a>, or <a
                                        href="https://github.com/pybel/pybel-notebooks">notebooks</a> repositories for
                                    upcoming code, protocols, and pipelines and additional entries in
                                    <a href="https://github.com/bio2bel">Bio2BEL</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
