{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Namespace Validation{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Namespace Validation</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Name Search</h3>
            </div>
            <div class="panel-body">
                <p>The names from {{ namespace_name }} were searched using the Ontology Lookup Service. </p>
                <p>Processing took {{ timer }} seconds.</p>
            </div>
            <div class="list-group">
                {% for name, results in data.items() %}
                    {% if results is defined and results|length > 0 %}
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">{{ name }}</h4>
                            <div class="list-group-item-text">
                                {% for result in results %}
                                    {% if result['is_defining_ontology'] %}
                                        <dl class="list-inline dl-horizontal">
                                            <dt>Ontology</dt>
                                            <dd>{{ result['ontology_name'] }}</dd>
                                            <dt>Label</dt>
                                            <dd>{{ result['label'] }}</dd>
                                            <dt>Identifier</dt>
                                            <dd><a href="{{ result['iri'] }}">{{ result['obo_id'] }}</a></dd>
                                        </dl>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
