{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Network Store{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript"
            src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'/>
    <link rel="stylesheet" type="text/css"
          href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if current_user.is_admin %}
        <script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
        <script>
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                // other options
            });
        </script>
    {% endif %}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/home_controller/home_controller.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Network Store</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        {% if current_user.is_authenticated and current_user.is_admin %}
            <div class="panel panel-info" id="admin-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin
                        <button type="button" class="close" data-target="#admin-panel" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    <h4>Actions</h4>
                    <p>
                        <a class="btn btn-info" href="{{ url_for('view_reports') }}" role="button">
                            View Pretty Reporting
                        </a>
                        <a class="btn btn-info" href="{{ url_for('dbs.list_reporting') }}" role="button">
                            View Reporting Log
                        </a>
                        <a class="btn btn-info" href="{{ url_for('dbs.pillage', next=url_for('view_networks')) }}"
                           role="button">
                            Pillage
                        </a>
                        <a class="btn btn-success" href="{{ url_for('run_reload', next=url_for('view_networks')) }}"
                           role="button">
                            Reload Networks
                        </a>
                        <a class="btn btn-danger" href="{{ url_for('dbs.drop_networks', next=url_for('home')) }}"
                           role="button" data-toggle="confirmation" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                           data-btn-ok-class="btn-success" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                           data-btn-cancel-class="btn-danger">
                            Drop All Networks
                        </a>
                    </p>
                    <h4>Async Parse Remote BEL Documents</h4>
                    <p>
                        <a class="btn btn-success" href="{{ url_for('ensure_simple', next=url_for('home')) }}"
                           role="button">
                            Simple
                        </a>
                        <a class="btn btn-success" href="{{ url_for('ensure_gfam', next=url_for('home')) }}"
                           role="button">
                            Gene Families
                        </a>
                    </p>
                    {% if HAS_BMS %}
                        <h4>Ensure BMS BEL Documents</h4>
                        <p>
                            <a class="btn btn-info" href="{{ url_for('bms.list_bms_pickles', next=url_for('home')) }}"
                               role="button">
                                List BMS Pickles
                            </a>
                            <a class="btn btn-warning" href="{{ url_for('bms.upload_aetionomy', next=url_for('home')) }}"
                               role="button">
                                Sync Upload AETIONOMY Pickles
                            </a>
                            <a class="btn btn-warning" href="{{ url_for('bms.upload_bms', next=url_for('home')) }}"
                               role="button">
                                Sync Upload BMS Pickles
                            </a>
                        </p>
                        <h4>Async Parse Folders</h4>
                        <p>
                            <a class="btn btn-danger" href="{{ url_for('bms.ensure_selventa', next=url_for('home')) }}"
                               role="button">
                                Selventa
                            </a>
                            <a class="btn btn-danger" href="{{ url_for('bms.ensure_aetionomy', next=url_for('home')) }}"
                               role="button">
                                AETIONOMY
                            </a>
                            <a class="btn btn-danger" href="{{ url_for('bms.ensure_ptsd', next=url_for('home')) }}"
                               role="button">
                                PTSD
                            </a>

                            <a class="btn btn-danger" href="{{ url_for('bms.ensure_tbi', next=url_for('home')) }}"
                               role="button">
                                TBI
                            </a>
                            <a class="btn btn-danger" href="{{ url_for('bms.ensure_bel4imocede', next=url_for('home')) }}"
                               role="button">
                                BEL4IMOCEDE
                            </a>
                            <a class="btn btn-danger" href="{{ url_for('bms.ensure_bms', next=url_for('home')) }}"
                               role="button">
                                BMS
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Curated Networks</h3>
            </div>
            <div class="panel-body">
                <p>Each curated network is backed by a BEL script. Below are options to summarize the networks'
                    contents, explore them with an in-browser navigator, or run analyses with data sets such as
                    differential gene expression data. Upload more networks
                    <a href="{{ url_for('parser.view_parser') }}">here</a>.
                </p>
            </div>
            <div class="list-group">
                {% for network in networks %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ network.name }}
                            <small class="text-muted">
                                {{ network.version }}

                                {% if network.report %}
                                    uploaded by {{ network.report.user }}
                                {% endif %}
                            </small>

                            {% if network.report and network.report.public %}
                                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            {% elif current_user.is_authenticated and network.report.user != current_user %}
                                <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
                            {% endif %}

                        </h4>
                        <div class="list-group-item-text">

                            {% if network.description %}
                                <p>{{ network.description }}</p>
                            {% endif %}

                            <ul class="list-inline">
                                {% if current_user.is_authenticated and current_user.is_admin %}
                                    <li>
                                        <a class="btn btn-info" target="_blank"
                                           href="{{ url_for('dbs.get_network_metadata', network_id=network.id) }}">
                                            {{ network.id }}
                                        </a>
                                    </li>

                                {% endif %}
                                <li>
                                    <a href="{{ url_for('view_summary', network_id=network.id) }}"
                                       class="btn btn-default">
                                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                                        Summarize
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('view_explore_network', network_id=network.id) }}"
                                       class="btn btn-default">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        Explore
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('analysis.view_network_analysis_uploader', network_id=network.id) }}"
                                       class="btn btn-default">
                                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                                        Analyze
                                    </a>
                                </li>
                                {% if current_user.is_authenticated %}
                                    {% if network.report and network.report.user == current_user %}
                                        <li>
                                            <a class="btn btn-warning" role="button"
                                               href="{{ url_for('dbs.drop_network', network_id=network.id, next=url_for('view_networks')) }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                Drop
                                            </a>
                                        </li>

                                        {% if not network.report.public %}
                                            <li>
                                                <a href="{{ url_for('dbs.make_network_public', network_id=network.id, next=url_for('view_networks')) }}"
                                                   class="btn btn-success" role="button">
                                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                                    Make Public
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="{{ url_for('dbs.make_network_private', network_id=network.id, next=url_for('view_networks')) }}"
                                                   class="btn btn-warning" role="button">
                                                    <span class="glyphicon glyphicon-ban-circle"
                                                          aria-hidden="true"></span>
                                                    Make Private
                                                </a>
                                            </li>
                                        {% endif %}

                                    {% elif current_user.is_admin %}
                                        <li>
                                            <a class="btn btn-danger" role="button"
                                               href="{{ url_for('dbs.drop_network', network_id=network.id, next=url_for('view_networks')) }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                Sudo Drop
                                            </a>
                                        </li>

                                        {% if network.report and not network.report.public %}
                                            <li>
                                                <a href="{{ url_for('dbs.make_network_public', network_id=network.id, next=url_for('view_networks')) }}"
                                                   class="btn btn-danger" role="button">
                                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                                    Sudo Make Public
                                                </a>
                                            </li>
                                        {% elif network.report and network.report.public %}
                                            <li>
                                                <a href="{{ url_for('dbs.make_network_private', network_id=network.id, next=url_for('view_networks')) }}"
                                                   class="btn btn-danger" role="button">
                                                    <span class="glyphicon glyphicon-ban-circle "
                                                          aria-hidden="true"></span>
                                                    Sudo Make Private
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                    {% if (current_user.is_scai or current_user.is_admin) and not network.report %}
                                        <li>
                                            <a class="btn btn-danger" role="button"
                                               href="{{ url_for('dbs.claim_network', network_id=network.id, next=url_for('view_networks')) }}">
                                                Claim
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
