{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Network Store{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript"
            src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'/>
    <link rel="stylesheet" type="text/css"
          href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if current_user.admin %}
        <script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
        <script>
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                // other options
            });
        </script>
    {% endif %}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/home_controller/home_controller.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Network Store</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        {% if current_user.is_authenticated and current_user.admin %}
            <div class="panel panel-info" id="admin-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin
                        <button type="button" class="close" data-target="#admin-panel" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    <h4>Actions</h4>
                    <p>
                        <a class="btn btn-info" href="{{ url_for('view_reports') }}" role="button">View Pretty
                            Reporting</a>
                        <a class="btn btn-info" href="{{ url_for('dbs.list_reporting') }}" role="button">View Reporting
                            Log</a>
                        <a class="btn btn-success" href="{{ url_for('run_reload') }}" role="button">Reload Networks</a>
                        <a class="btn btn-danger" href="{{ url_for('dbs.drop_networks') }}" role="button"
                           data-toggle="confirmation" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                           data-btn-ok-class="btn-success" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                           data-btn-cancel-class="btn-danger">Drop All Networks</a>
                    </p>
                    <h4>Ensure Remote BEL Documents</h4>
                    <p>
                        <a class="btn btn-success" href="{{ url_for('ensure_simple') }}" role="button">Sync Parse
                            Simple</a>
                        <a class="btn btn-success" href="{{ url_for('ensure_gfam') }}" role="button">Sync Parse Gene
                            Families</a>
                    </p>
                    <h4>Ensure BMS BEL Documents</h4>
                    <p>
                        <a class="btn btn-info" href="{{ url_for('list_bms_pickles') }}" role="button">List BMS
                            Pickles</a>
                        <a class="btn btn-warning" href="{{ url_for('upload_aetionomy') }}" role="button">Sync Upload
                            AETIONOMY Pickles</a>
                    </p>
                    <h4>Async Parse Folders</h4>
                    <p>
                        <a class="btn btn-danger" href="{{ url_for('ensure_selventa') }}" role="button">Selventa</a>
                        <a class="btn btn-danger" href="{{ url_for('ensure_aetionomy') }}" role="button">AETIONOMY</a>
                        <a class="btn btn-danger" href="{{ url_for('ensure_bms') }}" role="button">BMS</a>
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Curated Networks</h3>
            </div>
            <div class="panel-body">
                <p>Each curated network is backed by a BEL script. Below are options to summarize the networks'
                    contents, explore them with an in-browser navigator, or run analyses with data sets such as
                    differential gene expression data. Upload more networks
                    <a href="{{ url_for('parser.view_parser') }}">here</a>.</p>
            </div>
            <div class="list-group">
                {% for network in networks %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ network.name }}
                            <small class="text-muted">
                                {{ network.version }}

                                {% if network.report %}
                                    by {{ network.report.user }}
                                {% endif %}
                            </small>

                            {% if not network.report or network.report.public %}
                                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            {% endif %}

                        </h4>
                        <div class="list-group-item-text">
                            <p>{{ network.description }}</p>
                            <ul class="list-inline">
                                {% if current_user.is_authenticated and current_user.admin %}
                                    <li>
                                        <span class="btn btn-info">{{ network.id }}</span>
                                    </li>

                                {% endif %}
                                <li>
                                    <a href="{{ url_for('view_summary', network_id=network.id) }}"
                                       class="btn btn-default">
                                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                                        Summarize
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('view_explore_network', network_id=network.id) }}"
                                       class="btn btn-default">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        Explore
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('analysis.view_analysis_uploader', network_id=network.id) }}"
                                       class="btn btn-default">
                                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                                        Analyze
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('analysis.view_analyses', network_id=network.id) }}"
                                       class="btn btn-default">
                                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                        Results
                                    </a>
                                </li>
                                {% if current_user.is_authenticated %}
                                    {% if network.report and network.report.user == current_user %}
                                        <li>
                                            <a class="btn btn-warning" role="button"
                                               href="{{ url_for('dbs.drop_network', network_id=network.id, next=url_for('view_networks')) }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                Drop
                                            </a>
                                        </li>
                                    {% elif current_user.admin %}
                                        <li>
                                            <a class="btn btn-danger" role="button"
                                               href="{{ url_for('dbs.drop_network', network_id=network.id, next=url_for('view_networks')) }}">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                Sudo Drop</a>
                                        </li>
                                    {% endif %}

                                    {% if current_user.admin %}
                                        <li>
                                            <a class="btn btn-danger" role="button"
                                               href="{{ url_for('dbs.load_edge_store_by_network_id', network_id=network.id, next=url_for('view_networks')) }}">
                                                Store Edges</a>
                                        </li>
                                    {% endif %}

                                    {% if (current_user.has_role('scai') or current_user.admin) and not network.report %}
                                        <li>
                                            <a class="btn btn-danger" role="button"
                                               href="{{ url_for('dbs.claim_network', network_id=network.id, next=url_for('view_networks')) }}">Sudo
                                                Claim</a>
                                        </li>
                                    {% endif %}

                                    {% if network.report and network.report.user == current_user %}
                                        {% if not network.report.public %}
                                            <li>
                                                <a href="{{ url_for('dbs.make_network_public', network_id=network.id, next=url_for('view_networks')) }}"
                                                   class="btn btn-success" role="button">
                                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                                    Make Public
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="{{ url_for('dbs.make_network_private', network_id=network.id, next=url_for('view_networks')) }}"
                                                   class="btn btn-warning" role="button">
                                                    <span class="glyphicon glyphicon-ban-circle"
                                                          aria-hidden="true"></span>
                                                    Make Private
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% elif current_user.has_role('scai') or current_user.admin %}
                                        {% if network.report and not network.report.public %}
                                            <li>
                                                <a href="{{ url_for('dbs.make_network_public', network_id=network.id, next=url_for('view_networks')) }}"
                                                   class="btn btn-danger" role="button">
                                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                                    Sudo Make Public
                                                </a>
                                            </li>
                                        {% elif network.report and network.report.public %}
                                            <li>
                                                <a href="{{ url_for('dbs.make_network_private', network_id=network.id, next=url_for('view_networks')) }}"
                                                   class="btn btn-danger" role="button">
                                                    <span class="glyphicon glyphicon-ban-circle "
                                                          aria-hidden="true"></span>
                                                    Sudo Make Private
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
