{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Networks{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript"
            src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'/>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if current_user.is_admin %}
        <script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
        <script>
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]'
                // other options
            });
            // Initializes popover
            $(function () {
                $('[data-toggle="popover"]').popover({
                    placement: 'top',
                    trigger: 'hover'
                })
            });
            $(function () {
                $('[data-toggle="popright"]').popover({
                    placement: 'right',
                    trigger: 'hover'
                })
            });

            $("#networkSearch").on('keyup', function () {
                var search = $(this).val().toLowerCase();

                $(".list-group-item").each(function () {

                    if (this.children[0].innerHTML.toLowerCase().indexOf(search) != -1) {
                        $(this).show();
                    }

                    else if (this.children[1].childNodes[1].innerHTML.toLowerCase().indexOf(search) != -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }

                });
                $(".list-group-item:visible").each(function (index) {
                    if (index == 0) {
                        $(this).css("border-top-left-radius", "10px");
                        $(this).css("border-top-right-radius", "10px");
                    }
                    if (index == $(".list-group-item:visible").length - 1) {
                        $(this).css("border-bottom-left-radius", "10px");
                        $(this).css("border-bottom-right-radius", "10px");
                    }
                });

            });

        </script>
    {% endif %}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        {% if current_user.is_authenticated and current_user.is_admin and BMS_BASE %}
            <div class="panel panel-info" id="admin-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Async Parse Folders
                        <button type="button" class="close" data-target="#admin-panel" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    <a class="btn btn-warning" href="{{ url_for('bms.git_pull', next=url_for('ui.home')) }}">
                        Pull BMS
                    </a>

                    <div class="btn-group">
                        <a class="btn btn-danger" href="{{ url_for('bms.ensure_selventa', next=url_for('ui.home')) }}">
                            Selventa
                        </a>
                        <a class="btn btn-danger" href="{{ url_for('bms.ensure_aetionomy', next=url_for('ui.home')) }}">
                            AETIONOMY
                        </a>
                        <a class="btn btn-danger" href="{{ url_for('bms.ensure_ptsd', next=url_for('ui.home')) }}">
                            PTSD
                        </a>

                        <a class="btn btn-danger" href="{{ url_for('bms.ensure_tbi', next=url_for('ui.home')) }}">
                            TBI
                        </a>
                        <a class="btn btn-danger"
                           href="{{ url_for('bms.ensure_bel4imocede', next=url_for('ui.home')) }}">
                            BEL4IMOCEDE
                        </a>
                        <a class="btn btn-danger"
                           href="{{ url_for('bms.send_async_upload_cbn', next=url_for('ui.home')) }}">
                            CBN
                        </a>
                        <a class="btn btn-danger" href="{{ url_for('bms.ensure_bms', next=url_for('ui.home')) }}">
                            BMS
                        </a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-warning"
                           href="{{ url_for('dbs.pillage', next=url_for('ui.view_networks')) }}">
                            Pillage
                        </a>
                        <a class="btn btn-danger"
                           href="{{ url_for('dbs.drop_networks', next=url_for('ui.home')) }}"
                           role="button" data-toggle="confirmation" data-btn-ok-icon="glyphicon glyphicon-share-alt"
                           data-btn-ok-class="btn-success" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                           data-btn-cancel-class="btn-danger">
                            Drop All
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Networks</h3>
            </div>
            <div class="panel-body">
                <p>
                    Each curated network is backed by a BEL script. Below are options to summarize the networks'
                    contents, explore them with an in-browser navigator, or run analyses with data sets such as
                    differential gene expression data. Upload more networks
                    <a href="{{ url_for('parser.view_parser') }}">here</a>.
                </p>

                <div class="input-group">
                    <input type="text" id="networkSearch" class="form-control" placeholder="Search networks...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="list-group">
                {% for network in networks %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ network.name|replace('_', ' ') }}
                            <small class="text-muted">
                                {{ network.version }}

                                {% if network.authors %}
                                    {% set authors_split = network.authors.split(',') %}
                                    by
                                    {% if authors_split|length > 1 %}
                                        {{ authors_split[0] }}, <i>et. al</i>
                                    {% else %}
                                        {{ network.authors }}
                                    {% endif %}
                                {% endif %}
                            </small>
                            <div class="pull-right">
                                {% if network.report %}
                                    <small class="text-muted">
                                        {{ network.report.number_nodes }} nodes |
                                        {{ network.report.number_edges }} edges |

                                        {% if network.report.public %}
                                            Public <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                        {% elif current_user.is_authenticated and network.report.user != current_user %}
                                            Internal <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
                                        {% else %}
                                            Private
                                            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                                        {% endif %}
                                    </small>
                                {% endif %}
                            </div>
                        </h4>
                        <div class="list-group-item-text">

                            {% if network.description %}
                                <p>{{ network.description }}</p>
                            {% endif %}

                            <ul class="list-inline">
                                {% if current_user.is_authenticated and current_user.is_admin %}
                                    <li>
                                        <a class="btn btn-info" target="_blank"
                                           href="{{ url_for('dbs.get_network_metadata', network_id=network.id) }}">
                                            {{ "%02d"|format(network.id) }}
                                        </a>
                                    </li>

                                {% endif %}
                                <li>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                                            Summarize <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ url_for('ui.view_summarize_statistics', network_id=network.id) }}"
                                                   data-toggle="popright"
                                                   data-content="Access the statistics summary of the network.">
                                                    <span class="glyphicon glyphicon-dashboard"
                                                          aria-hidden="true"></span>
                                                    Statistics
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ url_for('ui.view_summarize_compilation', network_id=network.id) }}"
                                                   data-toggle="popright"
                                                   data-content="Access the compilation summary of the network.">
                                                    <span class="glyphicon glyphicon-warning-sign"
                                                          aria-hidden="true"></span> Compilation
                                                    {% if network.report %}
                                                        <span class="badge">{{ network.report.number_warnings }}</span>{% endif %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ url_for('ui.view_summarize_biogrammar', network_id=network.id) }}"
                                                   data-toggle="popright"
                                                   data-content="Access the biogrammar summary of the network.">
                                                    <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                                                     Biogrammar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li>
                                    {% if network.report and network.report.is_displayable %}
                                        <a href="{{ url_for('ui.view_explore_network', network_id=network.id) }}"
                                           class="btn btn-default" data-toggle="popover" title="Explore this Network"
                                           data-content="This network has {{ network.report.number_nodes }} nodes so it can be directly shown in the Biological Network Explorer.">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            Explore
                                        </a>
                                    {% else %}
                                        <a href="{{ url_for('ui.build_subsample_query', network_id=network.id) }}"
                                           class="btn btn-default" data-toggle="popover"
                                           title="Sample this Network"
                                           data-content="This network is too large to explore directly, so view a random sample of 250 edges.">
                                            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                            Explore
                                        </a>
                                    {% endif %}
                                </li>

                                <li>
                                    <a href="{{ url_for('ui.view_query_builder', start=network.id ) }}"
                                       class="btn btn-default" data-toggle="popover"
                                       title="Perform a Query on this Network"
                                       data-content="You can ask specific questions to your network using the
                                       Query Builder.">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        Query
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ url_for('analysis.view_network_analysis_uploader', network_id=network.id) }}"
                                       class="btn btn-default" data-toggle="popover"
                                       title="Analyze this Network"
                                       data-content="Upload your experiments and run algorithms on your network.">
                                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                                        Analyze
                                    </a>
                                </li>

                                {% if current_user.is_authenticated and ((network.report and network.report.user == current_user) or current_user.is_admin) %}
                                    <li>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Actions <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                {% if network.report and network.report.user == current_user %}
                                                    <li>
                                                        <a href="{{ url_for('dbs.drop_network', network_id=network.id, next=url_for('ui.view_networks')) }}">
                                                            <span class="glyphicon glyphicon-remove"
                                                                  aria-hidden="true"></span>
                                                            Drop
                                                        </a>
                                                    </li>

                                                    <li>
                                                        {% if not network.report.public %}
                                                            <a href="{{ url_for('dbs.make_network_public', network_id=network.id, next=url_for('ui.view_networks')) }}">
                                                                <span class="glyphicon glyphicon-globe"
                                                                      aria-hidden="true"></span>
                                                                Make Public
                                                            </a>
                                                        {% else %}
                                                            <a href="{{ url_for('dbs.make_network_private', network_id=network.id, next=url_for('ui.view_networks')) }}">
                                                                <span class="glyphicon glyphicon-ban-circle"
                                                                      aria-hidden="true"></span>
                                                                Make Private
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                {% elif current_user.is_admin %}
                                                    <li>
                                                        <a href="{{ url_for('dbs.drop_network', network_id=network.id, next=url_for('ui.view_networks')) }}">
                                                            <span class="glyphicon glyphicon-remove"
                                                                  aria-hidden="true"></span>
                                                            Sudo Drop
                                                        </a>
                                                    </li>

                                                    {% if network.report and not network.report.public %}
                                                        <li>
                                                            <a href="{{ url_for('dbs.make_network_public', network_id=network.id, next=url_for('ui.view_networks')) }}">
                                                        <span class="glyphicon glyphicon-globe"
                                                              aria-hidden="true"></span>
                                                                Sudo Make Public
                                                            </a>
                                                        </li>
                                                    {% elif network.report and network.report.public %}
                                                        <li>
                                                            <a href="{{ url_for('dbs.make_network_private', network_id=network.id, next=url_for('ui.view_networks')) }}">
                                                <span class="glyphicon glyphicon-ban-circle "
                                                      aria-hidden="true"></span>
                                                                Sudo Make Private
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}

                                                {% if (current_user.is_scai or current_user.is_admin) and not network.report %}
                                                    <li role="separator" class="divider"></li>
                                                    <li>
                                                        <a href="{{ url_for('dbs.claim_network', network_id=network.id, next=url_for('ui.view_networks')) }}">
                                                            Sudo Claim
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
