{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Compare Queries{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Query Comparison</h3>
            </div>
            <div class="panel-body">
                <p>
                    This page provides a comparison between
                    <a href="{{ url_for('ui.view_explorer_query', query_id=query_1_id) }}">Query {{ query_1_id }}</a> and
                    <a href="{{ url_for('ui.view_explorer_query', query_id=query_2_id) }}">Query {{ query_2_id }}.</a>
                </p>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="data:image/png;base64,{{ data['nodes'] }}">
                            <div class="caption">
                                <h3>Node Overlap</h3>
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="data:image/png;base64,{{ data['edges'] }}">
                            <div class="caption">
                                <h3>Edge Overlap</h3>
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="data:image/png;base64,{{ data['citations'] }}">
                            <div class="caption">
                                <h3>Citation Overlap</h3>
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
