<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group">
            <a href="{{ url_for('ui.view_networks') }}" class="btn btn-default">
                List Networks
            </a>
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ url_for('ui.view_summarize_statistics', network_id=network.id) }}"
                       title="Summary of the Network"
                       data-content="Access the statisics summary of the network.">
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                        Statistics
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('ui.view_summarize_compilation', network_id=network.id) }}"
                       data-toggle="popright" title="Summary of the Network"
                       data-content="Access the compilation summary of the network.">
                                                    <span class="glyphicon glyphicon-warning-sign"
                                                          aria-hidden="true"></span> Compilation
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('ui.view_summarize_biogrammar', network_id=network.id) }}"
                       data-toggle="popright" title="Summary of the Network"
                       data-content="Access the biogrammar summary of the network.">
                                                    <span class="glyphicon glyphicon-apple" aria-hidden="true">
                                                    </span> Biogrammar
                    </a>
                </li>
            </ul>
        </div>


        {% if network.report and network.report.is_displayable %}
            <a href="{{ url_for('ui.view_explore_network', network_id=network.id) }}"
               class="btn btn-default" data-toggle="popover"
               title="Explore this Network"
               data-content="Visualize this Network in the Biological Network Explorer.
                                       Note that if the network is larger than 100 nodes, you would need to filter the
                                       network before rendering it in order to avoid crash your browser.">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Explore
            </a>
        {% else %}
            <button class="btn btn-default" data-toggle="popover"
                    title="Explore this Network" disabled
                    data-content="This network is too large to explore directly, so build a query first.">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Explore
            </button>
        {% endif %}

        <a href="{{ url_for('ui.view_query_builder', start=network.id) }}"
           class="btn btn-default" data-toggle="popover"
           title="Perform a Query on this Network"
           data-content="You can ask specific questions to your network using the
                                           Query Builder.">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Query
        </a>

        {% if current_user.is_beta_tester %}
            <a href="{{ url_for('analysis.view_network_analysis_uploader', network_id=network.id) }}"
               class="btn btn-warning" data-toggle="popover"
               title="Analyze this Network"
               data-content="Upload your experiments and run algorithms on your network.">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                Analyze
            </a>


            <a class="btn btn-warning" href="{{ url_for('analysis.view_analyses', network_id=network_id) }}"
               role="button">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                Results
            </a>
        {% endif %}

        {% if current_user.is_authenticated %}
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Download
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='bel') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> BEL Script
                        </a>

                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='nodelink') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Node-Link JSON
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='cx') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> CX JSON
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='json') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Compact JSON
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='bytes') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Pickle</a>
                    </li>
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='sif') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> SIF
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='graphml') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> GraphML
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='csv') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> CSV</a>
                    </li>
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='gsea') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> GSEA
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('dbs.export_network', network_id=network_id, serve_format='citations') }}">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Citations
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}

        {% if current_user.is_admin %}
            <a class="btn btn-danger" role="button"
               href="{{ url_for('dbs.drop_network', network_id=network_id, next=url_for('ui.home')) }}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Drop
            </a>
        {% endif %}
    </div>
</div>