{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/c3.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block head %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/d3.3.5.17.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script>
        // Initializes popover
        $(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top',
                trigger: 'hover'
            })
        })
    </script>
{% endblock %}

{% block title %}Statistics{% endblock %}

{% block content %}
    <a id="top"></a>
    <div class="container">
        <div class="page-header">
            <h1>Statistics over {{ network.name }}
                <small class="text-muted">{{ network.version }}</small>
            </h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        {% include "summary_header.html" %}

        {% if network_versions is defined and network_versions|length > 1 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Versions
                        <span class="badge">{{ network_versions|length }}</span>
                        <a class="pull-right" href="#top">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        {% for network_version in network_versions %}
                            {% if network_version.id == network_id %}
                                <li>
                                    <a class="btn btn-info" role="button"
                                       href="{{ url_for('ui.view_summarize_statistics', network_id=network_version.id) }}">{{ network_version.version }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="btn btn-default" role="button"
                                       href="{{ url_for('ui.view_summarize_statistics', network_id=network_version.id) }}">{{ network_version.version }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Table of Contents</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li><a href="#provenance">Provenance</a></li>
                    <li><a href="#network-statistics">Network Statistics</a></li>
                    <li><a href="#content-statistics">Content Statistics</a></li>
                    <li><a href="#overlap">Network Overlap</a></li>

                </ol>
            </div>
        </div>

        <a id="provenance"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Provenance
                    <a class="pull-right" href="#top">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    {% if network.report %}
                        <dt>Uploader</dt>
                        <dd>{{ network.report.user.email }}</dd>
                        <dt>Upload Time</dt>
                        <dd>{{ network.report.created }}</dd>
                    {% endif %}

                    <dt>Authors</dt>
                    <dd>{{ network.authors }}</dd>

                    <dt>Contact</dt>
                    <dd>{{ network.contact }}</dd>

                    {% if network.description %}
                        <dt>Description</dt>

                        <dd>{{ network.description }}</dd>
                    {% endif %}

                    <dt>License</dt>
                    <dd>{{ network.licenses }}</dd>

                    <dt>Copyright</dt>
                    <dd>{{ network.copyright }}</dd>
                </dl>
            </div>
        </div>

        <a id="network-statistics"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Network Statistics
                    <a class="pull-right" href="#top">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Number Nodes</dt>
                    <dd>{{ network.report.number_nodes }}</dd>
                    <dt>Number Edges</dt>
                    <dd>{{ network.report.number_edges }}</dd>
                    <dt>Number Components</dt>
                    <dd>{{ network.report.number_components }}</dd>
                    <dt>Network Density</dt>
                    <dd>{{ network.report.network_density }}</dd>
                    <dt>Average Degree</dt>
                    <dd>{{ network.report.average_degree }}</dd>
                    <dt>Number Citations</dt>
                    <dd>{{ network.report.number_citations }}</dd>
                    <dt>Number BEL Errors</dt>
                    <dd>{{ network.report.number_warnings }}</dd>
                </dl>
            </div>
        </div>

        <a id="content-statistics"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Content Statistics
                    <a class="pull-right" href="#top">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div id="chart1"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart2"></div>
                    </div>
                    {% if chart_4_data %}
                        <div class="col-md-4">
                            <div id="chart4"></div>
                        </div>
                    {% endif %}
                    {% if chart_5_data %}
                        <div class="col-md-4">
                        <div id="chart5"></div>
                    {% endif %}
                    </div>
                    <div class="col-md-4">
                        <div id="chart6"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart7"></div>
                    </div>
                    {% if chart_9_data %}
                        <div class="col-md-4">
                            <div id="chart9"></div>
                        </div>
                    {% endif %}
                    <div class="col-md-4">
                        <div id="chart10"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart11"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart12"></div>
                    </div>
                </div>
            </div>
        </div>

        <a id="overlap"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Network Overlap
                    <a class="pull-right" href="#top">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    The overlap between networks is calculated by the overlap of their contained nodes. The top 10 are
                    shown below.
                </p>
            </div>
            <table class="table table-hover table-responsive table-striped">
                <thead>
                <tr>
                    <th>Network</th>
                    <th>Node Overlap</th>
                </tr>
                </thead>
                <tbody>
                {% for other_network, tanimoto in overlaps %}
                    {% if other_network %}
                        <tr>
                            <td>
                                <a href="{{ url_for('ui.view_summarize_statistics', network_id=other_network.id) }}">{{ other_network }}</a>
                            </td>
                            <td>
                                {{ (100 * tanimoto)|round|int }}%

                                <a href="{{ url_for('ui.view_network_comparison', network_1_id=network.id, network_2_id=other_network.id) }}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>
        var chart1 = c3.generate({
            padding: {
                top: 15,
                left: 100
            },
            size: {
                height: 350
            },
            bindto: '#chart1',
            data: {
                x: 'x',
                columns: {{ chart_1_data|safe}},
                type: 'bar'
            },
            title: {
                text: 'Nodes ({{ network.report.number_nodes }})'
            },
            axis: {
                rotated: true,
                x: {
                    type: 'category'
                }
            },
            legend: {
                show: false
            }
        });

        var chart2 = c3.generate({
            padding: {
                top: 15,
                left: 100
            },
            size: {
                height: 350
            },
            bindto: '#chart2',
            data: {
                x: 'x',
                columns: {{ chart_2_data|safe}},
                type: 'bar'
            },
            title: {
                text: 'Edges ({{ network.report.number_edges }})'
            },
            axis: {
                rotated: true,
                x: {
                    type: 'category'
                }
            },
            legend: {
                show: false
            }
        });

        {% if chart_4_data %}
            var chart4 = c3.generate({
                padding: {
                    top: 15,
                    left: 100
                },
                size: {
                    height: 350
                },
                bindto: '#chart4',
                data: {
                    x: 'x',
                    columns: {{ chart_4_data|safe}},
                    type: 'bar'
                },
                title: {
                    text: 'Transformations ({{ number_transformations }})'
                },
                axis: {
                    rotated: true,
                    x: {
                        type: 'category'
                    }
                },
                legend: {
                    show: false
                }
            });
        {% endif %}

        {% if chart_5_data %}
            var chart5 = c3.generate({
                padding: {
                    top: 15,
                    left: 100
                },
                size: {
                    height: 350
                },
                bindto: '#chart5',
                data: {
                    x: 'x',
                    columns: {{ chart_5_data|safe}},
                    type: 'bar'
                },
                title: {
                    text: 'Variants ({{ number_variants }})'
                },
                axis: {
                    rotated: true,
                    x: {
                        type: 'category'
                    }
                },
                legend: {
                    show: false
                }
            });
        {% endif %}

        var chart6 = c3.generate({
            padding: {
                top: 15,
                left: 100
            },
            size: {
                height: 350
            },
            bindto: '#chart6',
            data: {
                x: 'x',
                columns: {{ chart_6_data|safe}},
                type: 'bar'
            },
            title: {
                text: 'Namespace Usage ({{ number_namespaces }})'
            },
            axis: {
                rotated: true,
                x: {
                    type: 'category'
                }
            },
            legend: {
                show: false
            }
        });

        var chart7 = c3.generate({
            padding: {
                top: 15,
                left: 100
            },
            size: {
                height: 350
            },
            bindto: '#chart7',
            data: {
                x: 'x',
                columns: {{ chart_7_data|safe}},
                type: 'bar'
            },
            title: {
                text: 'Node Degrees'
            },
            axis: {
                rotated: true,
                x: {
                    type: 'category'
                }
            },
            legend: {
                show: false
            }
        });

        {% if chart_9_data %}
            var chart9 = c3.generate({
                padding: {
                    top: 15,
                    left: 100
                },
                size: {
                    height: 350
                },
                bindto: '#chart9',
                data: {
                    x: 'x',
                    columns: {{ chart_9_data|safe}},
                    type: 'bar'
                },
                title: {
                    text: 'Pathologies'
                },
                axis: {
                    rotated: true,
                    x: {
                        type: 'category'
                    }
                },
                legend: {
                    show: false
                }
            });
        {% endif %}

        {% if chart_10_data %}

            var chart10 = c3.generate({
                padding: {
                    top: 15
                },
                size: {
                    height: 350
                },
                data: {
                    x: 'x',
                    columns: {{ chart_10_data|safe}}
                },

                bindto: '#chart10',
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%Y'
                        }
                    }
                }
                , title: {
                    text: 'Publication Years'
                },
                legend: {
                    show: false
                }
            });
        {% endif %}

    </script>
{% endblock %}
