{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Upload{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>BEL Web Uploader</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-body">
                <p>This web application is for uploading preparsed BEL scripts to the cache. It accepts files in the
                    gpickle format, created by running <code>python3 -m pybel convert -p my_document.bel --pickle
                        my_document.gpickle</code> in your favorite command line or programmatically in Python with
                    <a href="http://pybel.readthedocs.io/en/latest/io.html#pybel.to_pickle">pybel.to_pickle</a>.
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Input</h3>
            </div>
            <div class="panel-body">
                {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
