{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}My Activity{% endblock %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>My Activity</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Projects</h3>
            </div>
            <div class="list-group">
                {% for project in user.projects %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ project.name }}</h4>
                        <ul>
                            {% for project_network in project.networks %}
                                <li><a href="{{ url_for('view_summary', network_id=project_network.id) }}">{{ project_network }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="list-group-item-text">
                            <p>{{ project.description }}</p>

                            <ul class="list-inline">
                                {% if project.networks %}
                                    {# Make sure that there's networks or don't show download buttons #}
                                    <li>
                                        <a href="{{ url_for('dbs.summarize_project', project_id=project.id) }}"
                                           title="Summarize" class="btn btn-default">
                                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                                            Summarize
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('dbs.export_project_network', project_id=project.id, serve_format='bel') }}"
                                           title="Summarize" class="btn btn-default">
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                            Download BEL
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ url_for('project.edit_view', id=project.id, url=url_for('view_current_user_activity')) }}"
                                       title="Edit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('dbs.drop_project_by_id', project_id=project.id, next=url_for('view_current_user_activity')) }}"
                                       title="Drop" class="btn btn-default">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Drop
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Queries</h3>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th>Networks</th>
                    <th>Seeding</th>
                    <th>Pipeline</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for query in user.queries %}
                    <tr>
                        <td>{{ query.id }}</td>
                        <td>
                            <ul>
                                {% for network in query.assembly.networks %}
                                    <li>
                                        <a href="{{ url_for('view_summary', network_id=network.id) }}">{{ network }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for seed in query.seeding_as_json() %}
                                    <li>
                                        <span>{{ seed['type']|title }}</span>
                                        <ul>
                                            {% if seed['type'] == 'annotation' %}
                                                {% if seed['data']['or'] %}
                                                    <li>
                                                        Query type: OR
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        Query type: AND
                                                    </li>
                                                {% endif %}
                                                {% for annotation, value in seed['data']['annotations'].items() %}
                                                    <li>
                                                        {{ annotation }}: {{ value }}
                                                    </li>
                                                {% endfor %}
                                            {% else %}
                                                {% for seed_data in seed['data'] %}
                                                    <li>
                                                        {{ seed_data }}
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for protocol_entry in query.protocol_as_json() %}
                                    <li>
                                        <code>{{ protocol_entry['function'] }}</code>
                                        {% if protocol_entry['args'] or protocol_entry['kwargs'] %}
                                            <ul>
                                                {% if protocol_entry['args'] %}
                                                    {% for arg in  protocol_entry['args'] %}
                                                        <li><code>{{ arg }}</code></li>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if protocol_entry['kwargs'] %}
                                                    {% for kwarg_key, kwarg_value in protocol_entry['kwargs'].items() %}
                                                        <li><code>{{ kwarg_key }}={{ kwarg_value }}</code></li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td><a href="{{ url_for('view_explorer_query', query_id=query.id) }}"><span
                                class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                        <td><a href="{{ url_for('dbs.drop_query_by_id', query_id=query.id) }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Networks</h3>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Network</th>
                    <th>Date of Upload</th>
                </tr>
                </thead>
                <tbody>
                {% for report in user.reports %}
                    {% if report.network is not none %}
                        <tr>
                            <td>
                                <a href="{{ url_for('view_summary', network_id=report.network.id) }}">{{ report.network }}</a>
                            </td>
                            <td>{{ report.created }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Experiments</h3>
            </div>
            <div class="panel-body">
                <p>As an example pipeline, we recommend using the data from GEO experiment <a
                        href="https://owncloud.scai.fraunhofer.de/index.php/s/1kbzCIhbfZLauuJ">GSE28146</a> with the
                    Alzheimer's Disease Knowledge Assembly.
                </p>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th>Description</th>
                    <th>Network</th>
                </tr>
                </thead>
                <tbody>
                {% for experiment in user.experiments %}
                    <tr>
                        <td>
                            <a href="{{ url_for('analysis.view_analysis_results', analysis_id=experiment.id) }}">{{ experiment.id }}</a>
                        </td>
                        <td>{{ experiment.description }}</td>
                        <td>
                            <a href="{{ url_for('view_explore_network', network_id=experiment.network.id) }}">{{ experiment.network }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    {% include "footer.html" %}
{% endblock %}
