{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}My PyBEL Activity{% endblock %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>My Activity</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Queries</h3>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Query ID</th>
                    <th>Networks</th>
                    <th>Seeding</th>
                    <th>Pipeline</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for query in user.queries %}
                    <tr>
                        <td><a href="{{ url_for('view_explorer', query=query.id) }}">{{ query.id }}</a></td>
                        <td>
                            <ul>
                                {% for network in query.assembly.networks %}
                                    <li>
                                        <a href="{{ url_for('view_summary', network_id=network.id) }}">{{ network.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for seed in query.seeding_as_json() %}
                                    <li>
                                        <span>{{ seed['type']|title }}</span>
                                        <ul>{% for seed_data in seed['data'] %}
                                            <li>
                                                {{ seed_data }}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ query.pipeline_protocol }}</td>
                        <td><a class="btn btn-danger"
                               href="{{ url_for('dbs.drop_query_by_id', query_id=query.id) }}">Drop</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Networks </h3>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Network</th>
                    <th>Date of uploaded</th>
                </tr>
                </thead>
                <tbody>
                {% for report in user.reports %}
                    {% if report.network is not none %}
                        <tr>
                            <td>
                                <a href="{{ url_for('view_summary', network_id=report.network.id) }}">{{ report.network }}</a>
                            </td>
                            <td>{{ report.created }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Assemblies</h3>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Assemblies</th>
                    <th>Networks</th>
                </tr>
                </thead>
                <tbody>
                {% for assembly in user.assemblies %}
                    <tr>
                        <td>{{ assembly.name }}</td>
                        <td>
                            {% for network in assembly.networks %}
                                <div>{{ network.name }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Experiments</h3>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th>Experiment</th>
                    <th>Network</th>
                </tr>
                </thead>
                <tbody>
                {% for experiment in user.experiments %}
                    <tr>
                        <td>
                            <a href="{{ url_for('analysis.view_analysis_results', analysis_id=experiment.id) }}">{{ experiment.id }}</a>
                        </td>
                        <td>{{ experiment.description }}</td>
                        <td>{{ experiment.network }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    {% include "footer.html" %}
{% endblock %}
