{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Users{% endblock %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Users</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Networks</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>
                            <a href="{{ url_for('view_user_activity', user_id=user.id) }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            <ul>
                                {% for role in user.roles %}
                                    <li>{{ role }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for report in user.reports %}
                                    {% if report.network is not none %}
                                        <li>
                                            <a href="{{ url_for('view_summary', network_id=report.network.id) }}">{{ report.network }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% if user.is_scai %}
                                <a class="btn btn-danger btn-xs" role="button"
                                   href="{{ url_for('dbs.drop_user_role', user=user.email, role='scai') }}">Remove
                                    SCAI</a>
                            {% else %}
                                <a class="btn btn-info btn-xs" role="button"
                                   href="{{ url_for('dbs.add_user_role', user=user.email, role='scai') }}">Add
                                    SCAI</a>
                            {% endif %}
                            {% if user.is_admin %}
                                <a class="btn btn-danger btn-xs" role="button"
                                   href="{{ url_for('dbs.drop_user_role', user=user.email, role='admin') }}">Remove
                                    Admin</a>
                            {% else %}
                                <a class="btn btn-info btn-xs" role="button"
                                   href="{{ url_for('dbs.add_user_role', user=user.email, role='admin') }}">Add
                                    Admin</a>
                            {% endif %}
                            <a class="btn btn-info btn-xs" role="button"
                               href="{{ url_for('dbs.drop_user', user_id=user.id, next=url_for('view_users')) }}">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
