{% extends "slim/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/c3.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#regulatory-pairs-table").DataTable();
        });
    </script>
{% endblock %}

{% block title %}{{ network }}{% endblock %}

{% block content %}
    <a id="top"></a>
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <ol class="breadcrumb" style="margin-top: 25px;">
            <li><a href="{{ url_for('.view_home') }}">Home</a></li>
            <li class="active">{{ network }}</li>
            <li class="pull-right">
                <a type="button" class="btn btn-default btn-xs">
                    Download JGIF
                </a>
            </li>
        </ol>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Provenance</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                            {% if network.report %}
                                <dt>Upload</dt>
                                <dd>{{ network.report.user.email }} at {{ network.report.created }}</dd>
                            {% endif %}

                            <dt>Authors</dt>
                            <dd>{{ network.authors }}</dd>

                            <dt>Contact</dt>
                            <dd>{{ network.contact }}</dd>

                            {% if network.description %}
                                <dt>Description</dt>

                                <dd>{{ network.description }}</dd>
                            {% endif %}

                            {% if network.licenses %}
                                <dt>License</dt>
                                <dd>{{ network.licenses }}</dd>
                            {% endif %}

                            {% if network.copyright %}
                                <dt>Copyright</dt>
                                <dd>{{ network.copyright }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                            <dt>Number Nodes</dt>
                            <dd>{{ network.report.number_nodes }}</dd>
                            <dt>Number Edges</dt>
                            <dd>{{ network.report.number_edges }}</dd>
                            <dt>Number Components</dt>
                            <dd>{{ network.report.number_components }}</dd>
                            <dt>Network Density</dt>
                            <dd>{{ network.report.network_density }}</dd>
                            <dt>Average Degree</dt>
                            <dd>{{ network.report.average_degree }}</dd>
                            <dt>Number Citations</dt>
                            <dd>{{ network.report.number_citations }}</dd>
                            <dt>Number BEL Errors</dt>
                            <dd>{{ network.report.number_warnings }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <a id="content-statistics"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Content Statistics
                    <a class="pull-right" href="#top">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div id="chart1"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart2"></div>
                    </div>
                    {% if chart_4_data %}
                        <div class="col-md-4">
                            <div id="chart4"></div>
                        </div>
                    {% endif %}
                    {% if chart_5_data %}
                        <div class="col-md-4">
                        <div id="chart5"></div>
                    {% endif %}
                    </div>
                    <div class="col-md-4">
                        <div id="chart6"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart7"></div>
                    </div>
                    {% if chart_9_data %}
                        <div class="col-md-4">
                            <div id="chart9"></div>
                        </div>
                    {% endif %}
                    <div class="col-md-4">
                        <div id="chart10"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart11"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="chart12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>
        c3.generate({
            padding: {
                top: 15,
                left: 100
            },
            size: {
                height: 350
            },
            bindto: '#chart1',
            data: {
                x: 'x',
                columns: {{ chart_1_data|safe}},
                type: 'bar'
            },
            title: {
                text: 'Nodes ({{ network.report.number_nodes }})'
            },
            axis: {
                rotated: true,
                x: {
                    type: 'category'
                }
            },
            legend: {
                show: false
            }
        });

        c3.generate({
            padding: {
                top: 15,
                left: 100
            },
            size: {
                height: 350
            },
            bindto: '#chart2',
            data: {
                x: 'x',
                columns: {{ chart_2_data|safe}},
                type: 'bar'
            },
            title: {
                text: 'Edges ({{ network.report.number_edges }})'
            },
            axis: {
                rotated: true,
                x: {
                    type: 'category'
                }
            },
            legend: {
                show: false
            }
        });

        {% if chart_4_data %}
            c3.generate({
                padding: {
                    top: 15,
                    left: 100
                },
                size: {
                    height: 350
                },
                bindto: '#chart4',
                data: {
                    x: 'x',
                    columns: {{ chart_4_data|safe}},
                    type: 'bar'
                },
                title: {
                    text: 'Transformations ({{ number_transformations }})'
                },
                axis: {
                    rotated: true,
                    x: {
                        type: 'category'
                    }
                },
                legend: {
                    show: false
                }
            });
        {% endif %}

        {% if chart_5_data %}
            c3.generate({
                padding: {
                    top: 15,
                    left: 100
                },
                size: {
                    height: 350
                },
                bindto: '#chart5',
                data: {
                    x: 'x',
                    columns: {{ chart_5_data|safe}},
                    type: 'bar'
                },
                title: {
                    text: 'Variants ({{ number_variants }})'
                },
                axis: {
                    rotated: true,
                    x: {
                        type: 'category'
                    }
                },
                legend: {
                    show: false
                }
            });
        {% endif %}

        c3.generate({
            padding: {
                top: 15,
                left: 100
            },
            size: {
                height: 350
            },
            bindto: '#chart6',
            data: {
                x: 'x',
                columns: {{ chart_6_data|safe}},
                type: 'bar'
            },
            title: {
                text: 'Namespace Usage ({{ number_namespaces }})'
            },
            axis: {
                rotated: true,
                x: {
                    type: 'category'
                }
            },
            legend: {
                show: false
            }
        });

        c3.generate({
            padding: {
                top: 15,
                left: 100
            },
            size: {
                height: 350
            },
            bindto: '#chart7',
            data: {
                x: 'x',
                columns: {{ chart_7_data|safe}},
                type: 'bar'
            },
            title: {
                text: 'Node Degrees'
            },
            axis: {
                rotated: true,
                x: {
                    type: 'category'
                }
            },
            legend: {
                show: false
            }
        });

        {% if chart_9_data %}
            c3.generate({
                padding: {
                    top: 15,
                    left: 100
                },
                size: {
                    height: 350
                },
                bindto: '#chart9',
                data: {
                    x: 'x',
                    columns: {{ chart_9_data|safe}},
                    type: 'bar'
                },
                title: {
                    text: 'Pathologies'
                },
                axis: {
                    rotated: true,
                    x: {
                        type: 'category'
                    }
                },
                legend: {
                    show: false
                }
            });
        {% endif %}

        {% if chart_10_data %}
            c3.generate({
                padding: {
                    top: 15
                },
                size: {
                    height: 350
                },
                data: {
                    x: 'x',
                    columns: {{ chart_10_data|safe}}
                },

                bindto: '#chart10',
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%Y'
                        }
                    }
                }
                , title: {
                    text: 'Publication Years'
                },
                legend: {
                    show: false
                }
            });
        {% endif %}

    </script>
{% endblock %}
