{% extends 'admin/master.html' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Summary</h3>
        </div>
        <div class="panel-body">
            <h2>Administration</h2>
            <p>This section of BEL Commons is meant to be used for administrative purposes.</p>

            {% if current_user.is_admin %}
                <h4>Welcome back, master</h4>
            {% endif %}

            <h3>Projects</h3>
            <p>
                Projects can be created under the project tab. They contain a selection of users and
                networks that have been contributed by those users.
            </p>

        </div>
    </div>
{% endblock %}
