{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% import "macros.html" as pbw %}

{% block title %}Namespace Entry Catalog{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <ol class="breadcrumb">
            <li><a href="{{ url_for('ui.home') }}">Catalog</a></li>
            <li class="active"><a href="{{ url_for('ui.view_namespaces') }}">Namespace Entries</a></li>
        </ol>

        <div class="panel panel-default">
            <div class="list-group">
                {% for namespace_entry in namespace_entries %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {{ namespace_entry.namespace.name }}:{{ namespace_entry.name }}
                        </h4>
                        <div class="list-group-item-text">
                            Count: {{ namespace_entry.edges.count() }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="panel-footer">
                <p>Showing {{ namespace_entries|length }} of {{ namespace_entry_count }} namespace entries</p>
            </div>
        </div>

    </div>
    {% include "footer.html" %}
{% endblock %}
