{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Terms &amp; Conditions{% endblock %}

{% block content %}
    <div class="container">
        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="page-header">
            <h1>Legal</h1>
        </div>

        <!-- Imprint -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Imprint and Publishing Notes</h3>
            </div>
            <div class="panel-body">
                See the <a href="https://www.scai.fraunhofer.de/en/publishing-notes.html">imprint and publishing
                notes</a> for BEL Commons and other Fraunhofer SCAI web applications.
            </div>
        </div>

        <!-- Data Protection -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Data Protection</h3>
            </div>
            <div class="panel-body">
                See the General Data Protection Regulation (GDPR) compliance and
                <a href="https://www.scai.fraunhofer.de/en/data_protection.html">data protection</a> information for
                BEL Commons and other Fraunhofer SCAI web applications.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fraunhofer SCAI Terms and Conditions</h3>
            </div>
            <div class="panel-body">
                <p>
                    By using any <em>BEL Commons</em> services, you accept our <a
                        href="https://www.scaiview.com/en/terms-and-conditions.html">Terms and Conditions of Use</a>.
                </p>
            </div>
        </div>

        <!-- Academic Disclaimer -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fraunhofer SCAI Disclaimer</h3>
            </div>
            <div class="panel-body">
                <p>
                    We cannot assume any liability for the content of external pages. Solely
                    the operators of those linked pages are responsible for their
                    content.
                </p>
                <p>
                    We make every reasonable effort to ensure that the content of this Web site
                    is kept up to date, and that it is accurate and complete. Nevertheless, the
                    possibility of errors cannot be entirely ruled out. We do not give any
                    warranty in respect of the timeliness, accuracy or completeness of material
                    published on this Web site, and disclaim all liability for (material or
                    non-material) loss or damage incurred by third parties arising from the use
                    of content obtained from the Web site.
                </p>
                <p>
                    Registered trademarks and proprietary names, and copyrighted text and
                    images, are not generally indicated as such on our Web pages. But the
                    absence of such indications in no way implies that these names, images or
                    text belong to the public domain in the context of trademark or copyright
                    law.
                </p>
            </div>
        </div>

        <!-- Academic Disclaimer -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fraunhofer SCAI Academic Disclaimer</h3>
            </div>
            <div class="panel-body">
                <p>
                    BEL Commons is a purely academic attempt to build the first ever useful user interface for BEL.
                    In the future, parts of this site will remain academic and become open source, while other
                    parts will inspire the development of enterprise-grade software from our department.
                </p>
            </div>
        </div>

        <!--- IMI Disclaimer -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IMI Disclaimer</h3>
            </div>
            <div class="panel-body">
                <p>
                    This site reflects the author's view and neither IMI nor the European Union, EFPIA, or any
                    associated partners are responsible for any use that may be made of the information contained
                    therein.
                </p>
            </div>
        </div>


    </div>

    {% include "footer.html" %}
{% endblock %}
